 #requireResource("confluence.web.resources:jquery")

<div id=casdebuglistmacro>
<table class='confluenceTable'>
<tbody>
<tr>
  <th class='confluenceTh'>$action.getText("cas.property.username")</th>
  <th class='confluenceTh'>Email Hash</th>
  <th class='confluenceTh'>Avatar</th>
#if($admin)
#foreach( $hash in $userMap.keySet() )
    <tr>
        <td class='confluenceTd'>$userMap.get($hash)</td>
        <td class='confluenceTd'>$hash</td>
        <td class='confluenceTd'><img style='width: 24px; height: 24px; background-image:url(${req.contextPath}/rest/cas/1.0/avatar/server/${hash}?s=24)' src=${req.contextPath}/download/resources/com.cutlass.confluence.plugin.rest.cas:casdebuglist/0.gif width='24' height='24'></td>
    </tr>
#end
#else
    <tr>
        <td class='confluenceTd'>$username</td><td>$emailhash</td><td><img style='width: 24px; height: 24px; background-image:url(${req.contextPath}/rest/cas/1.0/avatar/server/${emailhash}?s=24)' src=${req.contextPath}/download/resources/com.cutlass.confluence.plugin.rest.cas:casdebuglist/0.gif width='24' height='24'></td>
    </tr>
#end
</tbody>
</table>
</div>

